@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Click <a href="/Tasks/TasksIndex"class="btn-outline-danger">HERE</a> to see your tasks.</p>
    </div>
